<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'utility.css' %}">
    <title>Music Gallery: Music for everyone</title>
</head>

<body>
    <div class="container flex bg-black">
        <div class="left">
            <div class="close">
                <image width="30" class="invert" src="{% static 'image/close.svg' %}" alt=""></image>
            </div>
            <div class="home bg-grey rounded m-1 p-1">
                <div class="logo"><image width="110" class="invert" src="{% static 'image/logo.svg' %}" alt=""></image></div>
                <ul>
                    <!-- <li><i class="fa-regular fa-user"></i>Profile</li> -->

                    <li><image class="invert" src="{% static 'image/home.svg' %}" alt="home"></image>Home</li>
                    <!-- <li><image class="invert" src="{% static 'image/search.svg' %}" alt="home"></image>Search</li> -->
                    <li onclick="openSearchModal()">
                        <img class="invert" src="{% static 'image/search.svg' %}" alt="home">Search
                    </li>
                    
                    <!-- Modal Container -->
                    <div id="search-modal" style="display: none;">
                        <div class="modal-content">
                            <span class="close-btn" onclick="closeSearchModal()">&times;</span>
                            <input type="text" id="search" placeholder="Type to search..." onkeyup="searchSongs()">
                            <ul id="results"></ul>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="library bg-grey rounded m-1 p-1">
                <div class="heading">
                    <image class="invert" src="{% static 'image/playlist.svg' %}" alt=""></image>
                    <h2>Your Library</h2>
                </div>

                <div class="songList">
                    <ul id="playlist">
                        <!-- Playlist items will be dynamically added here -->
                    </ul>
                </div>

                <div class="footer">
                    <div><a href="https://www.spotify.com/jp/legal/"><span>Legal</span></a></div>
                    <div><a href="https://www.spotify.com/jp/privacy/"><span>Privacy Center</span></a></div>
                    <div><a href="https://www.spotify.com/jp/legal/privacy-policy/"><span>Privacy Policy</span></a></div>
                    <div><a href="https://www.spotify.com/jp/legal/cookies-policy/"><span>Cookies</span></a></div>
                    <div><a href="https://www.spotify.com/jp/legal/privacy-policy/#s3"><span>About Ads</span></a></div>
                    <div><a href="https://www.spotify.com/jp/accessibility/"><span>Accessibility</span></a></div>
                </div>
            </div>
        </div>

        <div class="right bg-grey rounded">
            <div class="header">
                <div class="nav">
                    <div class="hamburgerContainer">
                        <image width="40" class="invert hamburger" src="{% static 'image/hamburger.svg' %}" alt=""></image>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15 6L9.70711 11.2929C9.37377 11.6262 9.20711 11.7929 9.20711 12C9.20711 12.2071 9.37377 12.3738 9.70711 12.7071L15 18"
                                stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M9 18L14.2929 12.7071C14.6262 12.3738 14.7929 12.2071 14.7929 12C14.7929 11.7929 14.6262 11.6262 14.2929 11.2929L9 6"
                                stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <div class="buttons">
                    <!-- <button class="signupbtn">Sign up</button> -->
                    <!-- <button class="loginbtn">Log in</button> -->
                    <button class="loginbtn" onclick="window.location.href='profile';">Profile</button>

                </div>
            </div>
            <div class="spotifyPlaylists">
                <h1>Trending Playlists</h1>
                <!-- <div class="cardContainer"></div> -->
                <div class="cardContainer">
                    <div class="playlist-card" data-index="0">
                        <img src="{% static 'image/cover.jpg' %}" width="120px" alt="Playlist 1">
                        <p>Chill Vibes</p>
                    </div>
                    <div class="playlist-card" data-index="1">
                        <img src="{% static 'image/cover1.jpg' %}" width="120px" alt="Playlist 2">
                        <p>Rock Classics</p>
                    </div>
                    <div class="playlist-card" data-index="2">
                        <img src="{% static 'image/cover2.jpg' %}" width="120px" alt="Playlist 3">
                        <p>Diljit Top</p>
                    </div>
                </div>

                <div class="playbar">
                    <div class="seekbar">
                        <div class="circle"></div>
                    </div>

                    <div class="abovebar">
                        <div class="songinfo">
                            <h3 id="currentSongTitle">No song playing</h3>
                            <p id="currentSongArtist"></p>
                        </div>

                        <div class="songbuttons">
                            <image width="35" id="previous" src="{% static 'image/prevsong.svg' %}" alt=""></image>
                            <image width="35" id="play" src="{% static 'image/play.svg' %}" alt=""></image>
                            <image width="35" id="next" src="{% static 'image/nextsong.svg' %}" alt=""></image>
                        </div>

                        <div class="timevol">
                            <div class="songtime"></div>
                            <div class="volume">
                                <image width="25" src="{% static 'image/volume.svg' %}" alt=""></image>
                                <div class="range">
                                    <input type="range" name="volume" id="volumeRange">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="{% static 'script.js' %}"></script>  -->
    <script >
        
        const playlists = [
    [
        { title: 'Chill Song 1', artist: 'Chill Artist 1', image: '{% static "image/chill.jpg" %}', audio: '{% static "audio/song1.mp3" %}' },
        { title: 'Chill Song 2', artist: 'Chill Artist 2', image: '{% static "image/chill.jpg" %}', audio: '{% static "audio/song2.mp3" %}' }
    ],
    [
        { title: 'Rock Song 1', artist: 'Rock Artist 1', image: '{% static "image/cover1.jpg" %}', audio: '{% static "audio/song2.mp3" %}' },
        { title: 'Rock Song 2', artist: 'Rock Artist 2', image: '{% static "image/cover1.jpg" %}', audio: '{% static "audio/song3.mp3" %}' }
    ],
    [
        { title: 'Jazz Song 1', artist: 'Jazz Artist 1', image: '{% static "image/jazz.jpg" %}', audio: '{% static "audio/jazz1.mp3" %}' },
        { title: 'Jazz Song 2', artist: 'Jazz Artist 2', image: '{% static "image/jazz.jpg" %}', audio: '{% static "audio/jazz2.mp3" %}' }
    ]
];

const playlistCards = document.querySelectorAll('.playlist-card');
const playlistContainer = document.getElementById('playlist');
const playButton = document.getElementById('play');
const previousButton = document.getElementById('previous');
const nextButton = document.getElementById('next');
const currentSongTitle = document.getElementById('currentSongTitle');
const currentSongArtist = document.getElementById('currentSongArtist');
const audioElement = new Audio();
let currentPlaylist = [];
let currentSongIndex = 0;

function loadSong(songIndex) {
    const song = currentPlaylist[songIndex];
    currentSongTitle.textContent = song.title;
    currentSongArtist.textContent = song.artist;
    audioElement.src = song.audio;
    playlistContainer.innerHTML = currentPlaylist.map((song, index) => `
        <li onclick="playSong(${index})">
            <img class="invert" src="${song.image}" alt="song-image" width="50"> ${song.title}
        </li>
    `).join('');
}

function playSong(index) {
    currentSongIndex = index;
    loadSong(currentSongIndex);
    audioElement.play();
    playButton.src = "{% static 'image/pause.svg' %}";
}

function playPauseSong() {
    if (audioElement.paused) {
        audioElement.play();
        playButton.src = "{% static 'image/pause.svg' %}";
    } else {
        audioElement.pause();
        playButton.src = "{% static 'image/play.svg' %}";
    }
}

function nextSong() {
    currentSongIndex = (currentSongIndex + 1) % currentPlaylist.length;
    loadSong(currentSongIndex);
    audioElement.play();
}

function previousSong() {
    currentSongIndex = (currentSongIndex - 1 + currentPlaylist.length) % currentPlaylist.length;
    loadSong(currentSongIndex);
    audioElement.play();
}

playlistCards.forEach((card) => {
    card.addEventListener('click', function () {
        const index = parseInt(this.getAttribute('data-index'));
        currentPlaylist = playlists[index];
        currentSongIndex = 0;
        loadSong(currentSongIndex);
        audioElement.play();
    });
});

audioElement.addEventListener('ended', nextSong);
playButton.addEventListener('click', playPauseSong);
nextButton.addEventListener('click', nextSong);
previousButton.addEventListener('click', previousSong);

// Load the first song initially
audioElement.src = playlists[0][0].audio;
currentPlaylist = playlists[0];
loadSong(0);

    </script> 
    <script src="{% static 'script1.js' %}"></script>
</body>

</html>
