{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form action="#">
        <input type="text" placeholder="Enter your email">
        <input type="password" placeholder="Enter your password">
        <a href="#">Forgot password?</a>
        <input type="button" class="button" value="Login">
      </form>
      <div class="signup">
        <span>Don't have an account? <a href="signup">Signup</a></span>
      </div>
      <div class="social-login">
        <h3>Log in via</h3>
        <div style="display: flex; justify-content: center; gap: 20px; margin-top: 10px;">
          <a href="#"><i class="ri-google-fill"></i></a>
          <a href="#"><i class="ri-facebook-circle-fill"></i></a>
          <a href="#"><i class="ri-twitter-x-fill"></i></a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
